body { 
    padding-top: 65px; 
}

*{

	font-family: 'Muli', sans-serif;
}



h1{
	color: yellow;
	background-color: fuchsia;
}





#test{
	height: 65px;
	width: 65px;

	border-style:solid;
}


#aboutMe{
	min-height: 100px;
}





#social{
	padding-top: 15px;

}



.link{
  color: fuchsia;
}


.link:hover{
  color:  yellow;
  background-color: fuchsia;
  text-decoration: none;
}

.social-link{
	color: fuchsia;
	margin-right: 7%;
	padding: 1%;
	background-color: #fff;
	

}

.social-link:hover{
	color: yellow;
	background-color: fuchsia;
	text-decoration: none;
}




.homeLink{
	font-size: 28px;
	color: #000;

	float: left;
	padding: 15px;

	line-height: 20px;
	height: 20px

}
.homeLink:hover{
	color: #555;
	background-color: transparent;
	text-decoration: none;
}



#toppis{
	background-color: aqua;
	border-color: yellow;
	border-bottom-width: 10px;
}



#des-div{
	margin-left: 4px;
}

#moa-bild{
	width: 95%;
	max-width: 250px;

}

.pbild{
  width: 100%;

}





#div-border{
	border: yellow;
	border-width: 4px;

}



/*portfolio tumbs*/


#portfolio .box {
  background: #f3f3f3;
}
.portfolio-items,
.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-items {
  margin-right: -20px;
}
.portfolio-filter {
  margin-bottom: 50px;
  text-align: center;
}
.portfolio-filter > li {
  display: inline-block;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  margin: 0;
}
.portfolio-items.col-2 > li {
  width: 50%;
}
.portfolio-items.col-3 > li {
  width: 33%;
}
.portfolio-items.col-4 > li {
  width: 25%;
}
.portfolio-items.col-5 > li {
  width: 20%;
}
.portfolio-items.col-6 > li {
  width: 16%;
}
.portfolio-item .item-inner {
  margin: 0 20px 20px 0;
  text-align: center;
  background-color: #F5F5F5;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.portfolio-item img {
  width: 100%;

}
.portfolio-item .portfolio-image {
  position: relative;
  background: black;

}
.portfolio-item h5 {
  margin: 0;
  padding: 10px 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}


